html, body {
    margin:0;
    padding:0;
    height:100%;
 }

 #container {
    min-height:100%;
    position:relative;
}

#content {
    min-height:100%;
    position:relative;
    padding: 0 2rem;
 }

 footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;
    background:#fff;
 }

 .menu {
     display: block;
     min-height: 10%;
     margin-top: 2rem;
     margin-bottom: 2rem;
 }

 .reference {
     display: none;
 }

 .details {
     display: none;
     margin-left: 5%;
 }

 h3 {
     margin-top: 2em;
 }

 .menuItem {
     color: blue;
 }

 .doubleColumn {
    display: flex;
    justify-content: space-around;
 }
